
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Beyond The Edge";
}

<div class="center">
    <h1 class="display-4">Необходимо авторизоваться для получения доступа к системе!</h1>
    <p>Для этого необходимо нажать кнопку "Войти"</p>
</div>
