
@{
    Layout = "_LoginLayout";
    ViewData["Title"] = "Beyond The Edge";
}

<div class="center">
    <h1 class="display-4">Добро пожаловать в систему контроля доступа by IfLostReturnLux (студент КСК-20)</h1>
    <p>Надеюсь ничего не сломается!</p>
</div>
