@model UserModel
@{

}
<div>
    <h1 class="center">Профиль пользователя</h1>
    <div class="UserInfo">
        <div class="flex">
            <p>Имя профиля: </p>
            <p> @Model.Name</p>
        </div>
        <div class="flex">
            <p>Роль: </p>
            <p> @Model.Role</p>
        </div>
        <div class="flex">
            <p>Логин: </p>
            <p> @Model.Login</p>
        </div>
    </div>
</div>
