@model FilePageModel
@{
    Layout = "_Layout";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="options">
    <button class="btn btn-anim" onclick="GoToBackDirectory()">Back</button>
</div>
<div id="partial-view">
    @Html.RenderPartialAsync("FileView", Model)
</div>


